
<div class="container">
    <div class="row">
        <div class="col-sm">
            <h3 class="float-left">{{ examen.descripcion}}</h3>
            <h3 class="text-info float-right">Nota maxima: {{ examen.nota_maxima }}</h3>
        </div>
    </div>

    <div class="row mt-3" *ngIf="preguntas.length > 0">
        <h4 class="ml-3">Preguntas</h4>

        <div class="col-sm-12" *ngFor="let pregunta of preguntas; let index = index">
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img [src]="pregunta.imagen || 'http://via.placeholder.com/500'" class="card-img" alt="..." />
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ pregunta.descripcion }}</h5>
                            <p class="card-text">
                                <b>Tipo: </b>{{ pregunta.tipo | titlecase }} <br />
                                <b>Valoración: </b>{{ pregunta.valoracion }}
                            </p>
                        </div>


                        <div class="card-body" *ngIf="pregunta.tipo == 'abierta'">
                           <form (submit)="submitAbierta(index, pregunta, frmAbierta)" #frmAbierta>
                                <div class="form-group">
                                    <label >Ingrese su respuesta </label>
                                    <textarea class="form-control"  id="respuestaAbierta"   name="respuestaAbierta" rows="3"></textarea>
                                 </div>

                                 <div class="row">
                                    <div class="col-sm-12">
                                        <button type="submit" 
                                            class="btn btn-warning text-light float-right">
                                            Responder
                                        </button>
                                    </div>
                                 </div>
                           </form>
                        </div>
                        <div class="card-body" *ngIf="pregunta.tipo == 'unica'">
                            <form (submit)="submitUnica(index, pregunta, frmUnica)" #frmUnica>
                                <div class="form-check" *ngFor="let respuesta of pregunta.respuestas">
                                    <input class="form-check-input" type="radio" name="respuestaUnica"  value="{{respuesta.id}}" checked>
                                    <label class="form-check-label" >
                                        {{respuesta.respuesta}}
                                    </label>
                                  </div>

                                  <div class="row">
                                    <div class="col-sm-12">
                                        <button type="submit" 
                                            class="btn btn-warning text-light float-right">
                                            Responder
                                        </button>
                                    </div>
                                 </div>
                            </form>
                        </div>
                        <div class="card-body" *ngIf="pregunta.tipo == 'multiple'">
                            <form (submit)="submitMultiple(index, pregunta, frmMultiple)" #frmMultiple>
                                <div class="form-check" *ngFor="let respuesta of pregunta.respuestas">
                                    <input class="form-check-input" type="checkbox" value="{{respuesta.id}}" name="respuestaMultiple">
                                    <label class="form-check-label">
                                        {{respuesta.respuesta}}
                                    </label>
                                  </div>

                                  <div class="row">
                                    <div class="col-sm-12">
                                        <button type="submit" 
                                            class="btn btn-warning text-light float-right">
                                            Responder
                                        </button>
                                    </div>
                                 </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div> 

    <div class="row" *ngIf="preguntas.length == 0">
        <div class="col-sm">
            <div class="card mt-3 mb-3">
                <div class="card-body">
                    <button type="button" (click)="terminarExamen()" class="btn btn-success float-right">
                        Terminar examen
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>